.no-hidden {
  opacity: 0 !important;
  pointer-events: none !important;
  visibility: hidden !important; 
}

#smooth-wrapper {
  overflow-x: hidden !important;
}

.btn-sorsa {
  a {
    fill: #ffffff !important;
    border-style: solid !important;
    border-width: 2px 2px 2px 2px !important;
    border-color: #000000 !important;
    border-radius: 50rem 50rem 50rem 50rem !important;
    padding: 10px 35px 10px 35px !important;
    &:hover {
      background-color: $amarillo-sorsa !important;
      border-color: $amarillo-sorsa !important;
      color: white !important;
    }
    &::before {
      position: absolute;
      content: "";
      top: -2px;
      left: 10%;
      width: 80%;
      height: 2px;
      background-image: linear-gradient(
        to right,
        transparent,
        #fff,
        transparent
      );
    }
    &::after {
      position: absolute;
      content: "";
      bottom: -2px;
      left: 10%;
      width: 80%;
      height: 2px;
      background-image: linear-gradient(
        to right,
        transparent,
        #fff,
        transparent
      );
    }
  }
}

//
.progress-wrap svg.progress-circle path {
  stroke: $amarillo-sorsa !important;
}
.progress-wrap::after {
  color: $amarillo-sorsa !important;
}

.hidden-element {
  visibility: hidden !important;
  pointer-events: none !important;
}

.suministros-hero {
  &__content {
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    & > .e-con-inner {
      justify-content: center !important;
    }
  }
  &__title {
    h2 {
      display: inline-block;
      max-width: 320px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -4px;
        height: 4px;
        width: 100px;
        background-color: $amarillo-sorsa-02;
      }
    }
  }
  &__description {
    h2 {
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      padding-inline: 10px;
      @media (min-width: 768px) {
        padding-inline: 0;
      }
    }
  }
  &__img {
    img {
      height: 402px;
      object-fit: cover;
      @media (min-width: 768px) {
        height: auto;
      }
    }
  }
}

.home-valores {
  background-color: #014e9c;
  .content-card-valores {
    justify-content: center;
  }
  .card-valores {
    width: 280px;
    max-width: 100%;
    text-align: center;
    &__img {
      height: 77px;
      img {
        height: 100%;
        width: auto;
      }
    }
    &__desc {
      color: #fff;
      line-height: 1.2;
    }
    &__title {
      font-size: 26px;
      margin-bottom: 0;
      font-weight: 700;
      @media (min-width: 1400px) {
        font-size: 32px;
      }
    }
    &__txtsmall {
      font-size: 16px;
      margin-bottom: 0;
    }

    &:nth-last-of-type(1) {
      .card-valores__img {
        img {
          height: 65px;
        }
      }
    }
  }
  @media (max-width: 767px) {
    background-image: none !important;
  }
}

// Boton retail
.btn-amarillo-blanco {
  a {
    @include btn-retail($amarillo-sorsa, #fff, #fff);
  }
}

.btn-azul-amarillo {
  a {
    // @include btn-retail($azul-sorsa, $amarillo-sorsa, $amarillo-sorsa);
    @include btn-retail($azul-sorsa-03, $amarillo-sorsa, $amarillo-sorsa);
  }
}

.btn-amarillo-azul {
  a {
    @include btn-retail($amarillo-sorsa-04, $azul-sorsa-03, $azul-sorsa-03);
  }
}
