$azul-sorsa: #00509e;
$azul-sorsa-02: #004e9f;
$gris-sorsa-01: #f0f0f0;
$amarillo-sorsa: #f7a41d;
$amarillo-sorsa-02: #e48f1a;
$amarillo-sorsa-03: #eb961a;

.text-azul-sorsa {
  color: #00509e;
}
.bg-azul-sorsa {
  background-color: #00509e;
}

.text-gris-sorsa-01 {
  color: #f0f0f0;
}
.bg-gris-sorsa-01 {
  color: #f0f0f0;
}

.text-amarillo-sorsa {
  color: #f7a41d;
}
.bg-amarillo-sorsa {
  background-color: #f7a41d;
}

@media (min-width: 768px) {
  .text-md-azul-sorsa {
    color: #00509e;
  }
  .bg-md-azul-sorsa {
    background-color: #00509e;
  }

  .text-md-gris-sorsa-01 {
    color: #f0f0f0;
  }
  .bg-md-gris-sorsa-01 {
    color: #f0f0f0;
  }

  .text-md-amarillo-sorsa {
    color: #f7a41d;
  }
  .bg-md-amarillo-sorsa {
    background-color: #f7a41d;
  }
}

@media (min-width: 992px) {
  .text-lg-azul-sorsa {
    color: #00509e;
  }
  .bg-lg-azul-sorsa {
    background-color: #00509e;
  }

  .text-lg-gris-sorsa-01 {
    color: #f0f0f0;
  }
  .bg-lg-gris-sorsa-01 {
    color: #f0f0f0;
  }

  .text-lg-amarillo-sorsa {
    color: #f7a41d;
  }
  .bg-lg-amarillo-sorsa {
    background-color: #f7a41d;
  }
}

@media (min-width: 1200px) {
  .text-xl-azul-sorsa {
    color: #00509e;
  }
  .bg-xl-azul-sorsa {
    background-color: #00509e;
  }

  .text-xl-gris-sorsa-01 {
    color: #f0f0f0;
  }
  .bg-xl-gris-sorsa-01 {
    color: #f0f0f0;
  }

  .text-xl-amarillo-sorsa {
    color: #f7a41d;
  }
  .bg-xl-amarillo-sorsa {
    background-color: #f7a41d;
  }
}

@media (min-width: 1400px) {
  .text-xxl-azul-sorsa {
    color: #00509e;
  }
  .bg-xxl-azul-sorsa {
    background-color: #00509e;
  }

  .text-xxl-gris-sorsa-01 {
    color: #f0f0f0;
  }
  .bg-xxl-gris-sorsa-01 {
    color: #f0f0f0;
  }

  .text-xxl-amarillo-sorsa {
    color: #f7a41d;
  }
  .bg-xxl-amarillo-sorsa {
    background-color: #f7a41d;
  }
}

.btn-cta {
  background-color: $amarillo-sorsa;
  font-size: 14px;
  padding: 6px 16px;
  color: #fff;
  display: flex !important;
  align-items: center;
  column-gap: 10px;
  font-weight: 700;
  font-style: italic;
  transition: all 0.25s;
  &:hover {
    color: white;
    opacity: 0.9;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    display: none !important;
  }
  @media (min-width: 992px) {
    // font-size: 14px;
    // padding: 6px 16px;
    line-height: 1.2;
  }
  @media (min-width: 1200px) {
    font-size: 16px;
    padding: 12px 18px;
  }
  @media (min-width: 1400px) {
    padding: 18px 25px;
    font-size: 18px;
  }
}

// background-color: #f7a41d;
// font-size: 16px;
// line-height: 1.2;
// color: #fff;
// display: flex !important;
// align-items: center;
// padding: 12px 18px;
// column-gap: 10px;
// font-weight: 700;
// font-style: italic;
// transition: all .25s;

.alert {
  button {
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    border: none;
    font-size: 24px;
  }
  span {
    position: relative;
    top: -10px;
  }
}

.btn-send-form-reserva {
  background-color: $amarillo-sorsa;
  border-color: $amarillo-sorsa;
  color: #fff;
  border: none;
  width: 100%;
  padding-block: 7px;
  display: block;
  text-align: center;
}
