#agenda-tu-cita {
  margin-top: 80px;

  #reserva {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &.loader {
      .reserva-form {
        opacity: 0.25;
        pointer-events: none;
      }
      .reserva-image-loader {
        display: block;
        // width: 60px;
      }
    }
    .reserva-form {
      width: 100%;
    }
    .reserva-image-loader {
      display: none;
      position: absolute;
    }

    .flatpickr-input {
      background-color: #fff;
      // &[disabled="false"] {
      //   background-color: #fff;
      // }
      &:disabled {
        background-color: #e9ecef;
      }
    }
  }

  .formulario-agenda {
    pointer-events: none;
    opacity: 0.5;
    user-select: none;

    &.active {
      pointer-events: all;
      opacity: 1;
      user-select: auto;
    }

    & > p {
      margin-bottom: 2px;
    }
    .wpcf7-form-control {
      padding-left: 15px;
    }
  }
}
